
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<header>
    <nav class="navbar navbar-expand-md ">
        <div id="logo">
            <video autoplay muted width="180" height="180">
                <source src="~/images/Logo_Animado_OWL_LEARNING.mp4" type="video/mp4">
            </video>
        </div>
        <a class="main_nav_container" href="#">Inicio</a>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Acerca de Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Referencias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Profesores</a>
                </li>
            </ul>
        </div>


        <form class="form-inline">
            <div>
                <a class="nav-link" href="~/Account/Login"><i class="fas fa-sign-in-alt"></i>Iniciar Sesion</a>
            </div>
            <hr />
            <div>
                <a class="nav-link" href="~/Account/Registration">Registrarme</a>
            </div>
        </form>

        <!-- Hamburger -->
        <div class="hamburger_container">
            <i class="fas fa-bars trans_200"></i>
        </div>

    </nav>
</header>
<div class="menu_container menu_mm">

    <!-- Menu Close Button -->
    <div class="menu_close_container">
        <div class="menu_close"></div>
    </div>

    <!-- Menu Items -->
    <div class="menu_inner menu_mm">
        <div class="menu menu_mm">
            <ul class="menu_list menu_mm">
                <li class="menu_item menu_mm"><a href="#">Inicio</a></li>
                <li class="menu_item menu_mm"><a href="#">Acerca de Nosotros</a></li>
                <li class="menu_item menu_mm"><a href="courses.html">Servicios</a></li>
                <li class="menu_item menu_mm"><a href="elements.html">Referencias</a></li>
                <li class="menu_item menu_mm"><a href="contact.html">Profesores</a></li>
            </ul>

            <!-- Menu Social -->

            <div class="menu_social_container menu_mm">
                <ul class="menu_social menu_mm">
                    <li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                    <li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    <li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-twitter"></i></a></li>
                </ul>
            </div>

            <div class="menu_copyright menu_mm">Colorlib All rights reserved</div>
        </div>

    </div>

</div>
</html>
